@page
@model IndexPageModel
@{
    ViewData["Title"] = "ГОЛОВНА";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a tortor a est sagittis finibus. Proin id arcu lectus. In condimentum facilisis eros non scelerisque. Nulla venenatis ultricies varius. Etiam enim lectus, molestie in viverra ut, pretium in lorem. Donec id felis nibh. Sed vel egestas ipsum, vel hendrerit dui. Morbi vel nisi non quam tempor varius. Vivamus vel risus turpis. Sed ullamcorper turpis at dolor porttitor, quis volutpat nunc pellentesque. Praesent ultricies purus eleifend lectus consequat porttitor. Duis justo ex, rhoncus sit amet libero eget, pulvinar maximus odio. Curabitur dui quam, fermentum ut lobortis at, dapibus in massa. Nulla lectus risus, dignissim nec lobortis sed, placerat a risus. Fusce et felis maximus, pharetra mauris in, lacinia leo.</p>
</div>
